{# purpose of this template: questions index view #}
{% extends routeArea == 'admin' ? 'MUYourAnswersModule::adminBase.html.twig' : 'MUYourAnswersModule::base.html.twig' %}
{% block title __('Questions') %}
{% block admin_page_icon 'home' %}
{% block content %}
    <div class="muyouranswersmodule-question muyouranswersmodule-index">
        <p>{{ __('Welcome to the question section of the Your answers application.') }}</p>
    </div>
{% endblock %}
